on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: docker://pandoc/latex
        with:
          args: >-
            --standalone
            --output=Ran_Itzhaki_CV.pdf
            -V geometry:margin=3cm
            README.md
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
